{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Edit Student{% endblock %}

{% block main %}
    <main class="container">
        <h1 class="container-fluid p-2 text-white bg-info text-center mb-5">Edit Student</h1>
        
        <div class="container text-center mb-6">
            <div class="mx-auto mb-6">
            {% if student.photoPath == '' %}
                <img src="/default_pfp.svg" style="width: 200px; min-width:100px" alt="student photo">
            {% else %}
                <img src="/uploads/photos/{{ student.photoPath }}" style="width: 500px; min-width:300px" alt="student photo">
            {% endif %}
            </div>
        </div>
        {{ include('student/_camera.html.twig') }}
        {{ include('student/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('student/_delete_form.html.twig') }}
        
        <div class="col-5 mt-4 container">
            <div class="d-flex flex-column justify-content-around">
                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a class="btn btn-info m-3" href="{{ path('app_student_index', {'page' : 1}) }}">Back</a>
                {% else %}
                    <a class="btn btn-info m-3" href="{{ path('app_student_show', {'id': student.id}) }}">Back</a>
                {% endif %}
            </div>
        </div>
    </main>
       
{% endblock %}

{% block additionalJS %}
    {{ include('student/scriptJS.html.twig') }}
{% endblock %}