<div class="table-responsive-sm">
        <table class="table table-striped mb-5">
            <thead>
                <tr>
                    <th>Name of Class</th>
                    <th>Main teacher's name</th>
                    <th>Promotion year</th>
                    <th>Number of students</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for school_class in school_classes %}
                <tr>
                    <td>{{ school_class.className }}</td>
                    <td>{{ school_class.teacherName }}</td>
                    <td>{{ school_class.promotionYear }}</td>
                    <td>{{ school_class.students|length }}</td>
                    <td>
                        <a href="{{ path('app_school_class_show', {'id': school_class.id}) }}">Show</a>
                    </td>
                    <td>
                        <a href="{{ path('app_school_class_edit', {'id': school_class.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>